/* style.css */

input[type="date"]::-webkit-datetime-edit {
    color: #374151;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #374151;
}

input[type="date"]::-moz-placeholder {
    color: #374151;
}

input[type="date"]::-ms-placeholder {
    color: #374151;
}

input[type="date"]::placeholder {
    color: #374151;
}


